.App {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-radius: 50px;
    opacity: 0.6;
}

.footer-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    display: grid;
    justify-content: center;
    opacity: 0.6;
}

section {
    margin: 5px 0 5px 5px;
}

.weather-card {
    color: rgba(15, 78, 7, 0.651);
    height: 50vh;
    border: 2px solid grey;
    box-shadow: 0 7px 10px 0 black;
    margin: 5px;
}

.weather-card h3 {
    margin: 5px;
}

.search select {
    width: auto;
}